.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .file-names {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  ul p {
    background-color: #d9d9d9;
    min-width: 17rem;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .file-input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 24px;
  }
  .error-message {
    color: red;
  }
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  button {
    padding: 10px 20px;
    background-color: cadetblue;
    color: white;
    border: none;
    cursor: pointer;
    /* position: relative; */
    /* right: 100px; */
    /* margin-left: 32px; */
  }
  .add-icon-container {
    width: 20px;
  }
  .flex {
    display: flex;
  }
  .align-center {
    align-items: center;
  }
  .hidden {
    display: none;
  }
  
  .file-names {
    margin-bottom: 20px;
  }
  
  .file-input-container {
    position: relative;
  }
  
  .file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* position: absolute; */
    top: 0;
    left: 0;
  }
  
  .file-input-label svg {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .file-input {
    display: none;
  }
  .custom-select-box {
    min-width: 18rem;
    background-color: gray;
    padding: 5px;
  }
  .items-center {
    align-items: center;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .p-0 {
    padding: 0;
  }
  .m-0 {
    margin: 0;
  }
  .container {
    max-width: 20rem;
    margin: auto;
  }
  .btn-container {
    margin-left: 5px;
    margin-top: 10px;
  }
  