.file-table {
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .file-table th,
  .file-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .file-table th {
    background-color: #eee;
  }
  
  .download-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  